
//use this style for change color theme application
:root {
  //universal color
  --first-color: #282C35;
  --second-color: #3A404C;
  --theard-color: #DDB428;
  --fourth-color: #1C1C1C;

  //exclusive color
  --text-color: #EDEDED;

  //fonts
  --global-font: Geneva, Verdana, sans-serif;
}