*{
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
}

html, body, #root{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 105vh;
  width: 100%;

  color: var(--text-color);
  background: var(--first-color);
}

html{
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  background: var(--fourth-color);
  width: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px grey;
}

::-webkit-scrollbar-thumb {
  background: var(--theard-color);
}